.content {
    display: flex;
    align-items: center;
}

.content_message {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.content .check {
    width: 30px;
    height: 30px;
    background-color: grey;
    border-radius: 50%;
    color: white;
}

.content .title {
    font-size: 1rem;
    font-weight: 700;
}

.content .submessage {
    font-size: .9rem;
    font-weight: 300;
}