<h2>Login</h2>
<div style="display:grid; width:400px">
    <form style="justify-content: center" asp-controller="Account" asp-action="Login" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" name="ReturnUrl" value="@ViewData["ReturnUrl"]" />
        <label>User name</label>
        <input name="UserName" data-val="true"
        data-val-email="The Email Address field is not a valid email address."
        data-val-required="The Email Address field is required." />
        <label>Password</label>
        <input type="password" data-val="true"  data-val-required="The Password field is required." name="Password" />
        <button type="submit">Login</button>
    </form>
</div>