.container {
    margin: 0;
    padding: 0;
}

.line_header {
    margin-top: 1px;
}

.title-header {
    margin:0;
}

.nav_header {
    display: grid;
    grid-template-columns: 1fr;
}

.nav_header-subtitle {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.buttons-actions {
    text-align: right;
}

.buttons-actions>button {
    width: 100px;
    line-height: 10px;
}