.container {
    margin: 0;
    padding: 0;
}

.line_header {
    margin-top: 5px;
}

.nav_header {
    display: grid;
    grid-template-columns: 1fr;
}

.nav_header-subtitle {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.buttons-actions {
    text-align: right;
}

.buttons-actions>button {
    height: 20px;
    width: 100px;
}