.container {
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.nav-header {
    display: flex;
}

.title-header {
    width: 40%;
}

.buttons-actions {
    width: 100%;
    text-align: end;
}