.main {
    padding: 5px;;
}

.project-name{
    vertical-align: middle;
}

#sidenav a:hover{
    cursor: pointer;
}

.pointer-menu{
    cursor: pointer;
}

.material-icons {
    vertical-align: middle;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}