.main {
    padding: 5px;
    height: 100vh;
}

.sidenav {
    display: flex;
    flex-direction: column;
    margin: 10px;
    margin-bottom: 5px;
}

.sidenav-drawer{
    height: 100hv;
    width: 200px;
    padding: 10px;
}

.project-name{
    vertical-align: middle;
    margin: 30px;
}

#sidenav a:hover{
    cursor: pointer;
}

.pointer-menu{
    cursor: pointer;
}

.material-icons {
    vertical-align: middle;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}