.snackbar {
    position: absolute;
    bottom: 25px;
    right: 20px;
    border-radius: 10px;
    background-color: whitesmoke;
    padding: 20px 35px 20px 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-left: 6px solid grey;
    overflow: hidden;
    transform: translateX(calc(100% + 20px));
    transition: all .5s cubic-bezier(.68, -0.55, .265, 1.35);
}

.content_info {
    background-color: #aad7f9;
    color: black;
}

.content_warn {
    background-color: #f4ce88;
    color: black;
}

.content_error {
    background-color: #f38365;
    color: black;
}

.content_success {
    background-color: #86ed83;
    color: black;
}

.snackbar_active {
    transform: translateX(0%);
}

.snackbar .close {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}

.snackbar .progress {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 4px;
    background-color: grey;
}

.snackbar .progress::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: grey;
}